<h1>Edit Order</h1>

<form method="POST" action="/orderlist/{{order._id}}/edit" id="order">

<!--############# Adress section #############-->
  <div class="field" >
    <label>Address Line 1:</label>
    <input type="text" name="addressLine1" value="{{order.address.addressLine1}}"/>
  </div>
  <div class="field" >
    <label>Address Line 2:</label>
    <input type="text" name="addressLine2" value="{{order.address.addressLine2}}" />
  </div>
  <div class="field" >
    <label>City</label>
    <input type="text" name="city" value="{{order.address.city}}"/>
  </div>

  <div class="field" >
    <label>Postcode</label>
    <input type="text" name="postcode" value="{{order.address.postcode}}"/>
  </div>

  <div class="field" >
    <label>Phone Number</label>
    <input type="text" name="phoneNumber" value="{{order.phoneNumber}}"/>
  </div>


<!--############# Food Select section #############-->

<input type="checkbox" id="foodType" value="american" name="undesiredFoodType"
         checked>
  <label for="american">American</label>

<input type="checkbox" id="foodType" value="chinese" name="undesiredFoodType"
         checked>
  <label for="chinese">Chinese</label>

  <input type="checkbox" id="foodType" value="spanish" name="undesiredFoodType"
         checked>
  <label for="spanish">Spanish</label>

  <input type="checkbox" id="foodType" value="indian" name="undesiredFoodType"
         checked>
  <label for="indian">Indian</label>

  <input type="checkbox" id="foodType" value="italian" name="undesiredFoodType"
         checked>
  <label for="italian">Italian</label>

  <input type="checkbox" id="foodType" value="japanese" name="undesiredFoodType"
         checked>
  <label for="japanese">Japanese</label>

  <input type="checkbox" id="foodType" value="turkish" name="undesiredFoodType"
         checked>
  <label for="turkish">Turkish</label>

  <input type="checkbox" id="foodType" value="mexican" name="undesiredFoodType"
         checked>
  <label for="mexican">Mexican</label>
  <input type="checkbox" id="foodType" value="mexican" name="undesiredFoodType"

<!--############# Allergies #############-->
<div class="field" >
    <label>Allergies</label>
    <input type="text" name="allergies" value="{{order.allergies}}" />
</div>
<!--############# Dietry requirements #############-->

<div class="field" >
    <label>dietary requirements</label>
    <input type="text" name="dietaryRequirements" value="{{order.dietaryRequirements}}" />
</div>


<!--############# budget #############-->


<input type="range" min="10" max="100" value="50" name="budget"  value="{{order.budget}}" />

<!--############# Quantity #############-->
<input type="range" min="1" max="8" value="2" name="numberOfFoodeez" value="{{order.numberOfFoodeez}}" />

  <div class="field submit">
    <button type="submit">Edit</button>
  </div>
</form>