{{> customerNavBar}}
<div class="profile-container">
<h1>My Profile</h1>
<div class="profile-info-container">
<h2>Contact Details</h2>
{{currentUser.address.addressLine1}}<br />
{{currentUser.address.addressLine2}}<br />
{{currentUser.address.city}}<br />
{{currentUser.address.postcode}}<br />
{{currentUser.phoneNumber}}<br />
{{#if currentUser.isCustomer}}
<h2>Allergies</h2>
{{currentUser.allergies}}<br />
<h2>Dietary Requirements</h2>
{{currentUser.dietaryRequirements}}<br />
{{/if}}

<a href="/users/editProfile">Edit Profile</a>


{{#if messages.length}}
<ul class="validation">
  {{#each messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}
</div>
</div>