{{> customerNavBar}}

<h1>My Profile</h1>

<h2>Contact Details</h2>
{{currentUser.address.addressLine1}}<br />
{{currentUser.address.addressLine2}}<br />
{{currentUser.address.city}}<br />
{{currentUser.address.postcode}}<br />
{{currentUser.phoneNumber}}<br />
<h2>Allergies</h2>
{{currentUser.allergies}}<br />
<h2>Dietary Requirements</h2>
{{currentUser.dietaryRequirements}}<br />

<a href="/users/editProfile">Edit Profile</a>

  {{#if messages.length}}
<ul class="validation">
  {{#each messages}}<li>{{this}}</li>{{/each}}
</ul>
{{/if}}